/* style principal */
body {
    padding: 5px;
    background-image: url(../img/plante-background.png);
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("../img/plante-background.png");
    background-size: cover;
    background-position: center;
    filter: blur(6px) brightness(0.6);
    transform: scale(1.05);
    z-index: -1;
}

header {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.product-container {
    background-color: white;
    color: black;
    border-radius: 10px;
}

.success {
    background-color: white;
    color: black;
}

.important {
    color: green;
    margin: 0;
}

/* style des boutons/liens */
.signin {
    text-decoration: none;
    background-color: white;
    color: green;
    border-radius: 5px;
    border: 1px solid green;
    padding: 5px 10px;
    transition: transform 0.3s;
}

.detail, .nav {
    color: green;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: color .5s,  text-decoration-color 0.5s;
}
.nav:hover {
    color: black;
    text-decoration-color: currentColor;
}

.add, .login, .submit, .remove, .validate {
    text-decoration: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    transition: transform 0.3s;
}

.validate {
    border: none;
}

.submit {
    border: none;
}

.delete, .logout {
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    transition: transform 0.3s;
}
.logout:hover, .add:hover, .login:hover, .signin:hover {
    transform: scale(1.05);
}


/* style pour les images */
.container-img {
    aspect-ratio: 1 / 1;
    width: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center
}
.container-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.error{
    color: #b00020;
    background: #fdecea;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
